<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anglerhelper">

    <uses-permission android:name="android.permission.CAMERA"/>

    <!--if required is set false, Google Play will allow devices without a camera to download your application.-->
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <!--On Android 9 (API level 28) and lower, reading and writing to this directory requires
    the READ_EXTERNAL_STORAGE and WRITE_EXTERNAL_STORAGE permissions, respectively-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnglerHelper">
        <activity
            android:name=".ZoneActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AnglerHelper.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>